<section class="h-16 w-[100%] bg-[#f1f1f1d8] flex items-center space-x-4 px-4">
    <button><i class="fa-solid fa-user bg-slate-200 rounded-full p-4"></i></button>
    <button
        class="bg-slate-200 rounded-md px-3 py-2 border-none outline-none text-sm hover:bg-slate-300 transition-colors">Nueva
        tarea <i class="fa-solid fa-plus"></i></button>
    <button
        class="bg-slate-200 rounded-md px-3 py-2 border-none outline-none text-sm hover:bg-slate-300 transition-colors">Nueva
        etiqueta <i class="fa-solid fa-plus"></i></button>
</section>