<div id="taskPanel" class="invisible">
    <div class="w-[600px] h-[77%] px-6 py-5 shadow-lg bg-slate-200/40 rounded-md overflow-hidden">
        <div class="flex items-center justify-between">
            <h3 class="text-base font-medium text-slate-600">New task <i class="fa-solid fa-tag"></i></h3>
        </div>
        <form action="" method="post" class="form-create-task">
            {% csrf_token %}
            {{ task_form.as_p }}
        </form>
        <div class="flex justify-end space-x-3 border-t-[1px] pt-3 mt-3">
            <button id="btnCloseTaskPanel"
                class="px-4 py-2 rounded-lg border-[1px] text-sm font-medium bg-red-500 hover:bg-red-600 transition-colors text-slate-50">Cancel</button>
            <button
                class="px-4 py-2 rounded-lg border-[1px] font-medium text-sm bg-purple-700 hover:bg-purple-800 transition-colors text-slate-50">Add
                Task</button>
        </div>
    </div>
</div>